@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "hitchcut";
  src: url("../public/fonts/hitchcut.otf");
  src: url("../public/fonts/hitchcut.otf") format("openType"),
    url("../public/fonts/hitchcut-webfont.woff") format(woff),
    url("../public/fonts/hitchcut-webfont.woff2") format(woff2);
  font-weight: normal;
  font-style: normal;
}
